*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




#dark {
  background-color: #1C2230;
  height: 100vh;
  width: 100%;
  padding: 24px 0;
}

#light{
  height: 100vh;
  width: 100%;
  background: #F8F8F8;
  padding: 24px 0;
}


